@{
    ViewData["Title"] = "Home Page";
}

<style>

#box_active {
 width: 400px;
 height: 100px;
 margin: 10px;
 padding: 10px;
 border-radius: 15px;
 background:  lightgreen;
}

</style>

<div class="text-center">
    <h1 class="display-4">Terminal Overview</h1>


        @for ( int i = 0 ; i < (int)ViewData["TerminalCount"]; i++ )
        {
            var key = string.Format("RPI0{0}", i + 1);
            <div id="box_active"> @key : @ViewData[key] </div>
        }


</div>
